<!-- Static navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only"><%=t(:hide_navbar)%></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><%=t(:system_name)%></a>
		</div>
		<div id="navbaStatistics" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="<%=current_class?(root_path)%>"><%= link_to t('navigation.root'), root_path %></li>
				<li><%= link_to t('navigation.logout'), destroy_user_session_path, method: :delete %></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>