<!DOCTYPE html>
<html class="<%=controller_name%>">

<head>
  <title>
    <%=t(:system_name)%>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="<%=controller_name%>">
  <div class="container text-center">
    <%= image_tag 'logo.png' %>
    <%= yield %>
  </div>
</body>

</html>